* {
    box-sizing: border-box;
    
}

body{
    background-image: url("../images/background.png");
    /* overflow: auto; */
     
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
h1{
    font-size: 150%;
    font-style: bold;
}
.header-full{
    position: fixed;
    top:0;
    width: 100%;
    height: 110px;
    background: #ffffff;
    /* float: left; */
    /* padding: 30px; */
    border-bottom: #cccccc solid;
}
.header-1{
    position: fixed;
    top:42px;
    left: 20%;
    background: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    padding: 20px 10px 15px 30px;
    width: 300px;
    color: #ffffff;
    text-align: center;
    
   
}
.section-1{
    background: #ffffff;
    width: 960px;
    font:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 200px auto;
    border: #dddddd solid;
    color: #777777;
   

}

.section-2{
    border-top: 1px solid #a7a5a5;
    
}
/* for portfolio images */
.row::after {
    content: "";
    clear: both;
    display: table
}
.column{
    float: left;
    width: 33.33%;
    padding: 40px;
}
/* -------------- */

.links{
    position: fixed;
    top:50px;
    right:5%;
    background: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
   
}
#contact,
#portfolio,
#index{
    margin: 5px;
    width: 100px;
    height:60px;
    color: #777777;
    /* padding: 0px 15px; */
    /* text-align: center; */
}
#contact{
    border-left: 2px solid #a7a5a5;
    padding: 0px 15px;

}
#portfolio{
    border-left: 2px solid #a7a5a5;
    padding: 0px 15px;
  
}
#index{

}
.footer-1{
    position: fixed;
    float: left;
    bottom:0;
    width: 100%;
    height: 75px;
    background: #666666;
    text-align: center;
    color: #b3a8a8;
    border-top: #4aaaa5 10px solid;
}

/* for contact page */
.name,
.email,
.message{
    width: 900px;
    margin: 10px 30px;
    border: #463f3f solid 1px;
    color: #777777;
}
.message{
    /* height:250px; */
}
.submit{
    background: #4aaaa5;
}
/* ----------- */
